<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="box">
        <form id="loginForm" action="/login" method="post">
            <h2>Signin</h2>
            <div class="inputBox">
                <input type="text" id="username" required="required" name="username">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="password" required="required" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password?</a>
                <a href="/signup">Signup</a>
            </div><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>